body {
}

.tab
{
    border:solid 1px black !important;
    background-color:#eeeeee;
    padding:2px 10px;
}

.selectedTab
{
    background-color:lightblue;
    border-bottom:solid 1px white !important;
}

.selected
{
    background-color:grey;
    border-bottom:solid 1px white !important;
}

.tabContents{
    border: solid 1px black;
    padding: 10px;
    background-color:white;
}

.tabs{
    position:relative;
    top:1px;
    left:10px;
    color:black !important;
}
