body {
}

.tab
{
    border:solid 1px black;
    background-color:#eeeeee;
    padding:2px 10px;
}

.selectedTab
{
    background-color:grey;
    border-bottom:solid 1px white;
}

.tabContents{
    border: solid 1px black;
    padding: 10px;
    background-color:gray;
}

.tabs{
    position:relative;
    top:1px;
    left:10px;
}
