body {
    background-image: url(Images/arches.png);
    font-family: Georgia, serif !important;
}

/* Customize container */
@media (min-width: 900px) {
  .container {
    max-width: 890px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media(min-width: 768px) {
    .logo{
        margin: .5em 1em .25em 1.5em;
    }
}

.container {
    background-color:white;
    box-shadow: 0 0 10px #777777;
    padding: 10px 20px;
    padding-bottom:50px;
}

.logo
{
    margin: .5em 1em .25em 1.5em;
    text-align:center !important;
    font-family:Courier New, Courier, monospace;
    font-size:4.8em;
}

.logo img
{
    padding-left: 1em;
}

.navbar
{
    text-align: center; 
    font-family: "Courier New", Courier, monospace; 
    font-size:20px;  
    padding: 10px;
    border-bottom: 1px solid black !important;
    border-top: 2px solid black !important; 
    border-radius: 0 !important;
    width: 100%;
    margin: 0 auto !important;
}

.navbar a:link
{
    color: black;
    text-decoration: none; 

}

.navbar_spacer
{
    display: inline-block;
    padding: 0px 10px;
    color:black;   
}

a.menul:hover {
    font-weight: bold;
    background: #F9EDED
}

h2.refine {
    font-family:Georgia !important;
    font-size:1.02em;
    line-height:1em;
    text-transform:capitalize;
    border-bottom: 1px solid #999;
    display: inline-block;
    padding: 6px 0 15px;
    width:100%;
}

.section{
    text-align:left !important;
    list-style:none;
    padding-left:unset;
    font-family: Tahoma,Arial,sans-serif;
}

.panel{
    clear: both;
    overflow: hidden;
    padding: 0 0 6px;
    position: relative;
    border-bottom: 1px solid #999;
}

ul {
    color: #666;
    display: block;
    font-size: 0.66em;
    line-height: 1.3em !important;
    margin: 4px 0 0 0;

}

.product_list
{
    display:inline-block;
    margin: 2em 0 0 0;
}

.shopbag
{
    text-align:right;
}

.prodC
{
    box-shadow:none !important;
}

.loginText{
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-left: 0px;
    margin-right: 0px;
}
.loginBox {
   border: 1px solid #999;
   float: left;
   }